
* {
    font-family: 'Gill Sans';
    margin: 0;
    padding: 0;
}

header {
    font-size: 50px;
    margin: 5px;
    padding: 10px;
}

#title {
    font-size: 50px;
    margin: 5px;
    padding: 10px;
}

#username {
    font-size: 25px;
    margin: 5px;
    padding: 10px;
}

#content {
    font-size: 25px;
    margin: 5px;
    padding: 10px;
}

#goBack {
    margin: 5px;
    padding: 10px
}

footer {
    font-size: 15px;
    text-align: center;
    padding: 20px;
    
   
}