* {
    font-family: 'Gill Sans';
    margin-top: auto;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

header {
    display: block;
    text-align: center;
    margin: 5px;
    padding: 10px;
}

nav {
    text-align: end;
    margin: 5px;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: wheat;
}

nav a:hover {
    text-decoration: underline;
    color: blue;
}

#mode-toggle {
    margin: 5px;
    padding: 5px;
}

header {
    font-size: 50px;
    background-color: darkslategrey;
    color: wheat;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0; 
    display: flex;
    flex-direction: column;
    
} 

footer {
    font-size: 20px;
    text-align: center;
}